@import "tailwindcss";

@font-face {
  font-family: "santa";
  src: url("santa.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-santa {
    font-family: santa, sans-serif;
  }
}